<{if !$inajax}>
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title><{if !empty($pagetitle)}><{$pagetitle}> - <{/if}><{if !empty($moduletitle)}><{$moduletitle}> - <{/if}><{$site_name}></title>
<link rel="shortcut icon" href="<{$siteurl}>/favicon.ico">
<link rel="stylesheet" type="text/css" href="<{$cssdir}>/admincp.css">
<link rel="stylesheet" type="text/css" href="<{$cssdir}>/common.css">
<link rel="stylesheet" type="text/css" href="<{$cssdir}>/dialog.css">
<script language="javascript">var SITE_URL = '<{$siteurl}>';</script>
<script language="javascript" src="<{$jsdir}>/common.js"></script>
<script language="javascript" src="<{$jsdir}>/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="<{$jsdir}>/popup.js"></script>
<script type="text/javascript" src="<{$jsdir}>/ajaxmenu.js"></script>
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<{if $sitemethod!="login"}>
<div class="logo"><a href="<{$siteurl}>/admincp"><img src="<{$imgpath}>/admincp/logo.gif" /></a></div>
<div class="user">
<a href="<{$siteurl}>/admincp" class="blue">管理首页</a> | 
<a href="<{$siteurl}>/adminsettings" class="blue">设置</a>
<br /><br />
<span>
	您好，<{$smarty.session.site_adminname}> [<a href="<{$siteurl}>/admincp/logout/" class="blue">退出</a>]
</span>
</div>
<div class="nav">
  <ul><{$adminmenu.menu_class}></ul>
</div>

<{if $adminmenu.menu_method}>
<div class="nav_downbg"></div>
<div class="nav_down">
  <{$adminmenu.menu_method}>
</div>
<{/if}>

<{/if}> 
<{/if}>
