<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><{if !empty($pagetitle)}><{$pagetitle}> - <{/if}><{if !empty($moduletitle)}><{$moduletitle}> - <{/if}><{$site_name}><{if !empty($site_title)}> - <{$site_title}><{/if}></title>
		<link rel="stylesheet" type="text/css" href="<{$cssdir}>/common.css" />
		<script type="text/javascript">var SITE_URL = '<{$siteurl}>';</script>
    </head>
    <body>
    	<div style="margin-bottom:20px;"><a href="<{$siteurl}>"><{$site_name}></a></div>
