<{include file="../header.html"}>

<script type="text/javascript">
function checktxt(inputID,str,restr){
	var inputObject = document.getElementById(inputID);
	if(inputObject.value == str) {
		inputObject.value = restr;
	}
	if (inputObject.value  != '请输入邮箱地址'){
		inputObject.style.color = '#000000';
	} else{
		inputObject.style.color = '#D4D4D4';
	}
}
function checkMemberID(){
	var memberid = document.getElementById("memberid").value;
	if(memberid == "" || memberid == "请输入邮箱地址"){
		document.getElementById("memberid").focus();
		return false;
	} else {
		return true;
	}
}
</script>
	

<div id='page'>
    <div class='container'>
        <div class="page-account-clean page-login row">
            <section class='span10'>
                <form id="form-login" name="form-login" class="form-stacked" method="POST" onsubmit="return checkMemberID();">
                    <p class="account-clean-alert-message error">
                        <{if !empty($message)}>
							<{foreach from=$message item=item name=message}>
								<{$item}><br />
							<{/foreach}>
						<{elseif !empty($redirect_url)}>
							您所访问的页面需要登录后才能继续
						<{else}>	
						 &nbsp;
						<{/if}>
                    </p>
                    <fieldset>
                        <div class="clearfix">
                            <label for="email">
                                帐号
                            </label>
                            <div class="input">
                                <input class="xlarge" id="memberid" name="memberid" size="30" type="email" onfocus="checktxt(this.id,'<{$loginprompt}>','');" onblur="checktxt(this.id,'','<{$loginprompt}>');" value="<{$loginmemberid}>" style="<{if $loginmemberid==$loginprompt}>color:#D4D4D4;<{/if}>">
								<span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label for="password">
                                密码
                            </label>
                            <div class="input">
                                <input class="xlarge" id="password" name="password" size="30" type="password" value="<{if isset($smarty.post.password)}><{$smarty.post.password}><{/if}>">
								<span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="input">
                                <label>
                                    <input type="checkbox" name="remember" value="on"<{if $remember=='on'}> checked="checked"<{/if}>><span style="font-size:12px;">&nbsp;一个月内自动登录</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="">
                    	<input type="hidden" name="formhash" value="<{formhash()}>" />
						<input type="hidden" name="loginsubmit" value="1" />
						<button type="submit" id="loginsubmitbtn" class="btn primary large">登 录</button>
                    </div>
                </form>
            </section>
            <aside class='span4'>
                <p>
                    &raquo; 还没有帐号？ <a href="<{$siteurl}>/register">立即注册</a>
                </p>
                <p>
                    &raquo; <a href="<{$siteurl}>/forgot">忘记密码了</a>
                </p>
            </aside>
        </div>
    </div>
</div>
<{include file="../footer.html"}>